<h2>ABOUT</h2>

<p> Are you having trouble finding a music video that you've seen but don't know anything about? If you can remember some of the lyrics, melodies, or video details, don't worry—there are easy ways to find a video by describing it! Even if you don't know the artist or song, you can describe the video in search engines, on YouTube, and to song-identification communities on Reddit and Facebook. You can also hum, sing, or tap out the melody using free tools like SoundHound, search for partial lyrics, check video lists, and even ask on TikTok or Quora! This wikiHow guide will teach you the most helpful tools for finding a music video when you can't remember the title or artist.

</p>

<a href="{% url 'home' %}">RETURN HOME</a>